<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mgkan.hackathon_lost_pets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PetListActivity">
            <action android:name="android.intent.action.SEARCH" />
        </activity>
        <activity android:name=".SecondScreenActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".PetInfoActivity" />
        <activity android:name=".PetProfileActivity"></activity>
    </application>

</manifest>